<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangePass Word</title>
</head>
<body>

    <h1>Change Password</h1>
    
    <script>
        function checkpassword()
        {
            if(document.changepassword.newpass.value!=document.changepassword.Confirmpass.value)
            {
                alert("Passwords do not match");
                document.changepassword.newpass.focus();
                return false;
            }
            return true;
        }
    
    </script>
    
    <div>
        <div> <!-- Custom class added here -->
            <div>
                
            YU&Hg6tf5xdre rftgrhyjnb<form method="post" name="changepassword" onsubmit="return checkpassword()">
                    {% csrf_token %}
                    <div>
                        <div>
                            <label>Current Password</label>
                            <input type="password" name="currentpass" placeholder="Enter Your Current Password" required>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>New Password</label>
                            <input type="password" name="newpass" placeholder="Enter Your New Password" required>
                        </div>
                        <div>
                            <label>Confirm New Password</label>
                            <input type="password" name="Confirmpass" placeholder="Enter Your Confirm Password" required>
                        </div>
                    </div>
                    
                    <input type="submit" value="Login">
                </form>
            
            </div>
        </div>
    </div>
    
    
    {% if error == "no" %}
    <script>
        alert('Password Reset Successfully');
        window.location = ('{% url 'login' %}'); 
    </script>
    {% endif %}
    {% if error == "yes" %}
    <script>
        alert('Kuch To Galat H Re BABA');
    </script>
    {% endif %}
    
    
    {% if error == "not" %}
    <script>
        alert('Purana Password Galat Hai');
    </script>
    {% endif %}
</body>
</html>