<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}" class="active">Home</a>
        <br>
        <a href="{% url 'per_reg' %}">Personam Registration</a>
        <br>
        <a href="{% url 'Business_reg' %}">Bussiness Registration</a>
        <br>
        <a href="{% url 'login' %}">Login</a>
        <br>
        <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">Admin</a>
        
    </div>
    <h1>Hello I`m Home</h1>
</body>
</html>

